<div class="table_wrapper">
  <% if type.eql? 'Collaborators' %>
    <h1 class="table_heading">Project Collaborators</h1>
  <% else %>
    <h1 class="table_heading">Active Members</h1>
  <% end %>

  <table class="table">
    <tbody>
      <tr> 
        <td><strong>Name</strong></td>
        <td><strong>Creator of...</strong></td>
        <td><strong>Collaboratoring on...</strong></td>
      </tr>

      <% users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          
          <td>
            <% user.projects_created.map do |project| %>
              <%= link_to project.name, project_path(project) %>
            <% end %>
          </td>
          
          <td>
            <% user.collaborations.map do |project| %>
              <%= link_to project.name, project_path(project) %>
            <% end %>
          </td>

        </tr>
      <% end %>
      
    </tbody>
  </table> 
  
</div>