<% if type.eql? 'index' %>

  <div class="table_top_links">
    <%= link_to 'Add New Project', new_user_project_path(current_user.id) %>
  </div>
  
<% elsif type.eql? 'show' %>

  <div class="table_top_links">
    <%= link_to 'Collaborators', project_collaborators_path(project) %>
  </div>
  
<% end %>