<tr>
  <td><strong>Creator</strong></td>
  <td><strong>Project Name</strong></td>
  <td><strong>Programming Language</strong></td>
  <td><strong>Description</strong></td>
  <td><strong>Action</strong></td>
</tr>