/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/*GLOBAL*/
h1, h2 {
    text-decoration: underline;
}
 
/*MESSAGES*/
.notice {
    color: green;
}

.alert {
    color: red;
}

/*TABLES*/
.table_wrapper {
    text-align: center;
}

.table_top_actions {
    text-align: left;
    margin-left: 56px;
}

.table {
    margin: auto;
    width: 95%;
}

td {
    border: solid .5px black;
    padding: 1em;
}

/*FORMS*/
input {
    display: block;
    margin: 0.5em 0;
}

input[type="submit"] {
    margin-top: 2em;
}

/*errors*/
.form_errors {
    margin-bottom: 1em;
}

i.fas.fa-exclamation-triangle {
    display: block;
    padding: 0.5em 0;
}

div.field_with_errors {
    display: inline;
}

.field_with_errors input {
    border: solid 1px red;
    box-shadow: 0px 0 10px -2px red;
}