<% if user_signed_in? %>
  
  <h1 class="table_heading">Project Listing</h1>
  <%= render 'projects/table', project: all_projects, type: 'index' %>
  
<% else %>

  <%= tag.h1 'WELCOME TO CO-LAB' %>
  
<% end %>