<div class="navbar">
  <div class="brand">
    <a href="/"><img src="/assets/logo.svg" alt="Site Logo"></a>
  </div>
  
  <div class="menu">
    <%= link_to 'HOME', root_path %>
    
    <% if user_signed_in? %>
    
      <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %>
      
    <% else %>
    
      <%= link_to "SIGN IN", new_user_session_path %>
      
    <% end %>     
  </div>
</div>

